language: python
python:
  - "3.7.3"

script:
  - python flexionapp.py
deploy:
  provider: s3
  bucket: arn:aws:s3:::flexion-master
  skip_cleanup: true
  local_dir: ./app
  upload-dir: flexion-app
  region: us-west-2
  branches:
  only:
    - main
