language: java

jdk:
  - openjdk8

install: true

branches:
  only:
    - main

# MAVEN PROJECTS ONLY:
cache:
  directories:
    - $HOME/.m2
    - app

env:
  global:
    - DEPLOY_BUCKET=flexion-master
    # - DEPLOY_BUCKET_PREFIX=exampleco # optional if using a shared deployment bucket
    - DEPLOY_BRANCHES=main # optional - all branches defined in "branches" above is the default
    # MAVEN PROJECTS:
    - DEPLOY_SOURCE_DIR=/home/travis/build/Heman-HomeProjects/Flexion-app/app

before_script:
  - git clone https://github.com/Heman-HomeProjects/Flexion-app.git
  - cp Flexion-app/flexionapp.py /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - cp Flexion-app/deploy.sh /home/travis/build/Heman-HomeProjects/Flexion-app/app
  # - cp Flexion-app/build.rb /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - cp Flexion-app/flexionapp_image.png /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - chmod +x /home/travis/build/Heman-HomeProjects/Flexion-app/app/deploy.sh
  - chmod +x /home/travis/build/Heman-HomeProjects/Flexion-app/app/build.rb

before_install:
  - chmod +x deploy.sh

script:
  # MAVEN PROJECTS:
  # - Flexion-app/build.rb --skip-tests-if-pr && Flexion-app/deploy.sh
  - /home/travis/build/Heman-HomeProjects/Flexion-app/app/deploy.sh

notifications:
  email:
    recipients:
      - hemanmalik@outlook.com
    on_success: always # default: change
    on_failure: always # default: always
