language: java

jdk:
  - openjdk8

install: true

branches:
  only:
    - main

# MAVEN PROJECTS ONLY:
cache:
  directories:
    - $HOME/.m2
    - app

env:
  global:
    - DEPLOY_BUCKET=flexion-master
    # - DEPLOY_BUCKET_PREFIX=exampleco # optional if using a shared deployment bucket
    - DEPLOY_BRANCHES=main # optional - all branches defined in "branches" above is the default
    # MAVEN PROJECTS:
    # - DEPLOY_SOURCE_DIR=$TRAVIS_BUILD_DIR/site/target # optional - if your war file is somewhere other than ./target
    - DEPLOY_SOURCE_DIR=/home/travis/build/Heman-HomeProjects/Flexion-app/app
    # GRADLE PROJECTS:
    #- DEPLOY_SOURCE_DIR=$TRAVIS_BUILD_DIR/site/build/libs # optional - if your war file is somewhere other than ./target
    #- GRADLE_PARAMS="optional additional paremters to pass along to gradle if using build-gradle.sh"

before_script:
  - git clone https://github.com/Heman-HomeProjects/Flexion-app.git
  - cp Flexion-app/flexionapp.py /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - cp Flexion-app/deploy.sh /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - cp Flexion-app/build.rb /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - cp Flexion-app/flexionapp_image.png /home/travis/build/Heman-HomeProjects/Flexion-app/app
  - chmod +x /home/travis/build/Heman-HomeProjects/Flexion-app/app/deploy.sh

before_install:
  - chmod +x deploy.sh

script:
  # MAVEN PROJECTS:
  # - Flexion-app/build.rb --skip-tests-if-pr && Flexion-app/deploy.sh
  - /home/travis/build/Heman-HomeProjects/Flexion-app/app/deploy.sh
  # GRADLE PROJECTS:
  #- travis-s3-deploy/build-gradle.sh && travis-s3-deploy/deploy.sh
